In [2]:
import pandas as pd

In [25]:
all_nq = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/live/all_bars_df_NQU0.pickle')
all_es = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/live/all_bars_df_ESU0.pickle')
all_ym = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/live/all_bars_df_YM   SEP 20.pickle')
all_gc = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/live/all_bars_df_GCQ0.pickle')
candles_nq = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/live/freeze_df_NQU0.pickle')
candles_es = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/live/freeze_df_ESU0.pickle')
candles_ym = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/live/freeze_df_YM   SEP 20.pickle')
candles_gc = pd.read_pickle('/home/tomek/ib_tools/notebooks/freeze/live/freeze_df_GCQ0.pickle')

In [21]:
all_gc

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-06-05 00:00:00,1720.8,1721.9,1720.3,1721.4,78,1721.400000,41
2020-06-05 00:00:30,1721.3,1721.6,1721.0,1721.1,68,1721.160000,28
2020-06-05 00:01:00,1721.4,1721.4,1721.1,1721.3,13,1721.270000,12
2020-06-05 00:01:30,1721.4,1721.5,1721.2,1721.5,12,1721.330000,9
2020-06-05 00:02:00,1721.4,1722.4,1721.4,1722.2,66,1721.970000,29
...,...,...,...,...,...,...,...
2020-06-29 17:47:00,1782.2,1782.2,1782.0,1782.2,48,1782.129167,27
2020-06-29 17:47:30,1782.2,1782.2,1781.9,1782.0,82,1781.978049,38
2020-06-29 17:48:00,1781.9,1782.1,1781.8,1782.1,45,1781.891111,25
2020-06-29 17:48:30,1782.2,1782.5,1782.2,1782.4,57,1782.403509,32
2020-06-29 17:49:00,1782.6,1783.1,1782.5,1783.1,91,1782.787912,62

In [14]:
all_nq

,open,high,low,close,volume,average,barCount
date,,,,,,,
2020-06-12 13:33:30,9754.25,9758.25,9753.25,9756.75,62,9755.769375,44
2020-06-12 13:34:00,9756.75,9757.75,9752.50,9753.00,69,9755.220427,61
2020-06-12 13:34:30,9752.25,9755.25,9751.50,9755.25,38,9753.798150,32
2020-06-12 13:35:00,9754.50,9756.25,9754.25,9754.25,15,9755.245379,14
2020-06-12 13:35:30,9754.75,9755.00,9753.25,9753.25,17,9754.446908,13
...,...,...,...,...,...,...,...
2020-06-29 17:37:00,9886.50,9894.00,9886.25,9894.00,497,9890.107646,292
2020-06-29 17:37:30,9893.75,9894.00,9890.50,9891.75,249,9891.937751,162
2020-06-29 17:38:00,9891.75,9892.25,9888.75,9889.75,190,9890.053947,131
2020-06-29 17:38:30,9889.75,9891.25,9882.75,9882.75,378,9886.999339,217
2020-06-29 17:39:00,9883.00,9887.25,9881.50,9883.50,326,9884.123466,233

In [22]:
candles_ym

,backfill,open,high,low,close,price,volume,ema_fast,ema_slow,atr,signal,filter,filtered_signal
date,,,,,,,,,,,,,
2020-06-12 14:42:00,True,25518.0,25598.0,25383.0,25586.0,25586.0,8040,NaN,NaN,215.000000,0.0,NaN,0.0
2020-06-12 15:30:30,True,25584.0,25697.0,25528.0,25652.0,25652.0,8335,NaN,NaN,191.872222,0.0,NaN,0.0
2020-06-12 15:41:00,True,25652.0,25784.0,25543.0,25778.0,25778.0,8039,NaN,NaN,208.430438,0.0,NaN,0.0
2020-06-12 16:01:00,True,25783.0,25787.0,25627.0,25694.0,25694.0,8067,25696.215385,NaN,196.120292,0.0,NaN,0.0
2020-06-12 16:24:30,True,25698.0,25765.0,25601.0,25641.0,25641.0,8082,25675.018957,NaN,189.552688,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-29 16:18:30,False,25140.0,25234.0,25117.0,25214.0,25214.0,8019,25123.503265,25309.448402,136.785603,0.0,-1.0,0.0
2020-06-29 16:37:30,False,25215.0,25260.0,25200.0,25209.0,25209.0,8144,25152.002177,25307.780178,135.912478,0.0,-1.0,0.0
2020-06-29 16:50:00,False,25208.0,25332.0,25208.0,25325.0,25325.0,8263,25209.668118,25308.066138,135.777066,0.0,-1.0,0.0
2020-06-29 17:09:00,False,25327.0,25351.0,25248.0,25272.0,25272.0,8071,25230.445412,25307.467254,135.404598,0.0,-1.0,0.0
2020-06-29 17:30:00,False,25273.0,25339.0,25225.0,25323.0,25323.0,8048,25261.296941,25307.725158,135.161439,0.0,-1.0,0.0

In [26]:
candles_gc

,backfill,open,high,low,close,price,volume,ema_fast,ema_slow,atr,signal,filter,filtered_signal
date,,,,,,,,,,,,,
2020-06-05 03:07:30,True,1720.8,1723.2,1718.2,1720.4,1720.4,5502,NaN,NaN,5.000000,0.0,NaN,0.0
2020-06-05 05:09:00,True,1720.4,1723.0,1715.7,1715.9,1715.9,5500,NaN,NaN,6.156389,0.0,NaN,0.0
2020-06-05 06:52:00,True,1715.9,1716.9,1713.8,1715.5,1715.5,5549,NaN,NaN,5.126252,0.0,NaN,0.0
2020-06-05 08:08:30,True,1715.4,1718.2,1712.5,1715.2,1715.2,5540,1716.052308,NaN,5.272088,0.0,NaN,0.0
2020-06-05 08:53:30,True,1715.2,1715.6,1711.1,1711.3,1711.3,5501,1714.227962,NaN,5.114220,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-01 06:57:30,False,1800.2,1802.8,1799.3,1799.8,1799.8,5700,1799.545424,1783.189717,4.482236,0.0,1.0,0.0
2020-07-01 08:21:00,False,1799.9,1803.1,1799.0,1802.4,1802.4,5525,1800.496949,1783.507263,4.478005,1.0,1.0,1.0
2020-07-01 09:14:30,False,1802.4,1806.0,1801.6,1805.6,1805.6,6420,1802.197966,1783.872456,4.477142,1.0,1.0,1.0
2020-07-01 09:46:00,False,1805.7,1807.7,1804.3,1806.8,1806.8,5569,1803.731978,1784.251447,4.465221,1.0,1.0,1.0
2020-07-01 10:43:30,False,1806.9,1807.3,1804.6,1805.8,1805.8,5501,1804.421318,1784.607644,4.445685,0.0,1.0,0.0

In [23]:
candles_nq

,backfill,open,high,low,close,price,volume,ema_fast,ema_slow,atr,signal,filter,filtered_signal
date,,,,,,,,,,,,,
2020-06-12 14:46:00,True,9754.25,9758.25,9700.50,9737.50,9737.50,12056,NaN,NaN,57.750000,0.0,NaN,0.0
2020-06-12 15:31:00,True,9737.50,9780.75,9728.75,9769.00,9769.00,12290,NaN,NaN,54.859028,0.0,NaN,0.0
2020-06-12 15:39:30,True,9768.75,9798.50,9757.25,9787.50,9787.50,12165,NaN,NaN,50.272189,0.0,NaN,0.0
2020-06-12 15:49:30,True,9788.25,9830.50,9786.25,9799.75,9799.75,12461,9783.019231,NaN,48.741457,0.0,NaN,0.0
2020-06-12 16:05:00,True,9799.25,9816.50,9777.25,9796.75,9796.75,12035,9788.290284,NaN,46.800748,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-29 16:51:00,False,9867.50,9889.50,9855.00,9877.25,9877.25,12340,9850.387477,9929.421015,39.299874,0.0,-1.0,0.0
2020-06-29 17:03:00,False,9877.00,9882.75,9850.25,9864.00,9864.00,12273,9854.924985,9928.338722,39.224040,0.0,-1.0,0.0
2020-06-29 17:16:00,False,9864.25,9865.25,9829.50,9843.00,9843.00,12343,9850.949990,9926.926940,39.185300,0.0,-1.0,0.0
2020-06-29 17:28:00,False,9842.75,9891.75,9836.25,9890.00,9890.00,12239,9863.966660,9926.316056,39.367209,0.0,-1.0,0.0
2020-06-29 17:41:00,False,9889.75,9898.50,9881.25,9888.75,9888.75,12162,9872.227773,9925.694608,39.120627,0.0,-1.0,0.0

In [24]:
candles_es

,backfill,open,high,low,close,price,volume,ema_fast,ema_slow,atr,signal,filter,filtered_signal
date,,,,,,,,,,,,,
2020-06-12 14:17:00,True,3051.75,3052.75,3036.75,3038.50,3038.50,43056,NaN,NaN,16.000000,0.0,NaN,0.0
2020-06-12 15:12:30,True,3038.50,3060.25,3037.00,3060.00,3060.00,43129,NaN,NaN,19.645139,0.0,NaN,0.0
2020-06-12 15:32:00,True,3060.25,3069.25,3056.50,3056.50,3056.50,46470,NaN,NaN,17.321175,0.0,NaN,0.0
2020-06-12 15:41:00,True,3056.25,3072.75,3053.50,3072.50,3072.50,44047,NaN,NaN,17.811447,0.0,NaN,0.0
2020-06-12 15:53:00,True,3072.75,3073.75,3057.75,3058.00,3058.00,43173,NaN,NaN,17.441063,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-29 16:38:30,False,3018.75,3028.75,3018.00,3025.50,3025.50,46475,3029.852465,3053.839875,12.073259,1.0,-1.0,0.0
2020-06-29 16:48:00,False,3025.75,3030.25,3023.75,3028.25,3028.25,43807,3029.825964,3053.670317,12.011263,1.0,-1.0,0.0
2020-06-29 17:02:00,False,3028.00,3033.75,3023.75,3025.25,3025.25,43945,3029.750288,3053.482079,11.988891,0.0,-1.0,0.0
2020-06-29 17:18:00,False,3025.25,3027.75,3019.25,3020.25,3020.25,43810,3029.593175,3053.262058,11.950087,0.0,-1.0,0.0
2020-06-29 17:34:00,False,3020.50,3033.00,3020.25,3029.50,3029.50,43192,3029.591634,3053.104797,11.958983,1.0,-1.0,0.0

In [32]:
a = all_nq.loc['20180601 15:36:30': '20180601 16:17:00']

In [33]:
import numpy as np
a['t'] = a['high'] - 16
a['x'] = np.maximum.accumulate(a['t'])
a

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,open,high,low,close,volume,average,barCount,t,x
date,,,,,,,,,
2018-06-01 15:36:30,7031.50,7032.00,7029.25,7031.25,717,7030.675,389,7016.00,7016.00
2018-06-01 15:37:00,7031.50,7033.00,7029.75,7029.75,673,7031.550,393,7017.00,7017.00
2018-06-01 15:37:30,7030.00,7030.50,7027.00,7029.25,643,7028.625,369,7014.50,7017.00
2018-06-01 15:38:00,7028.75,7029.50,7027.00,7027.25,424,7028.175,232,7013.50,7017.00
2018-06-01 15:38:30,7027.50,7028.00,7025.75,7027.25,591,7026.750,333,7012.00,7017.00
...,...,...,...,...,...,...,...,...,...
2018-06-01 16:15:00,7034.50,7035.75,7029.25,7030.25,1143,7031.975,544,7019.75,7024.75
2018-06-01 16:15:30,7030.00,7030.75,7025.25,7026.50,1145,7028.175,550,7014.75,7024.75
2018-06-01 16:16:00,7026.25,7027.75,7024.50,7024.75,1004,7025.725,569,7011.75,7024.75
2018-06-01 16:16:30,7024.75,7025.25,7020.25,7021.25,1422,7022.350,667,7009.25,7024.75
2018-06-01 16:17:00,7021.50,7024.50,7020.75,7024.00,812,7022.625,444,7008.50,7024.75

In [35]:
a['trigger'] = (a['x'] >= a['low'])
a

/home/tomek/.virtualenvs/ib/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,open,high,low,close,volume,average,barCount,t,x,trigger
date,,,,,,,,,,
2018-06-01 15:36:30,7031.50,7032.00,7029.25,7031.25,717,7030.675,389,7016.00,7016.00,False
2018-06-01 15:37:00,7031.50,7033.00,7029.75,7029.75,673,7031.550,393,7017.00,7017.00,False
2018-06-01 15:37:30,7030.00,7030.50,7027.00,7029.25,643,7028.625,369,7014.50,7017.00,False
2018-06-01 15:38:00,7028.75,7029.50,7027.00,7027.25,424,7028.175,232,7013.50,7017.00,False
2018-06-01 15:38:30,7027.50,7028.00,7025.75,7027.25,591,7026.750,333,7012.00,7017.00,False
...,...,...,...,...,...,...,...,...,...,...
2018-06-01 16:15:00,7034.50,7035.75,7029.25,7030.25,1143,7031.975,544,7019.75,7024.75,False
2018-06-01 16:15:30,7030.00,7030.75,7025.25,7026.50,1145,7028.175,550,7014.75,7024.75,False
2018-06-01 16:16:00,7026.25,7027.75,7024.50,7024.75,1004,7025.725,569,7011.75,7024.75,True
2018-06-01 16:16:30,7024.75,7025.25,7020.25,7021.25,1422,7022.350,667,7009.25,7024.75,True
2018-06-01 16:17:00,7021.50,7024.50,7020.75,7024.00,812,7022.625,444,7008.50,7024.75,True

In [37]:
a.iloc[50:].head(50)

,open,high,low,close,volume,average,barCount,t,x,trigger
date,,,,,,,,,,
2018-06-01 16:01:30,7036.50,7036.50,7033.75,7035.25,591,7035.150,340,7020.50,7022.25,False
2018-06-01 16:02:00,7035.25,7036.00,7034.25,7035.25,358,7035.100,185,7020.00,7022.25,False
2018-06-01 16:02:30,7035.00,7036.00,7034.50,7034.75,273,7035.275,150,7020.00,7022.25,False
2018-06-01 16:03:00,7035.00,7035.75,7033.50,7035.00,476,7034.650,259,7019.75,7022.25,False
2018-06-01 16:03:30,7035.00,7037.25,7035.00,7037.00,313,7036.225,161,7021.25,7022.25,False
2018-06-01 16:04:00,7037.00,7037.50,7035.25,7035.50,556,7036.475,255,7021.50,7022.25,False
2018-06-01 16:04:30,7035.25,7038.00,7035.00,7037.25,465,7036.775,234,7022.00,7022.25,False
2018-06-01 16:05:00,7037.25,7039.25,7037.25,7039.00,818,7038.600,359,7023.25,7023.25,False
2018-06-01 16:05:30,7039.00,7040.75,7038.50,7039.25,1048,7039.600,447,7024.75,7024.75,False
2018-06-01 16:06:00,7039.25,7039.50,7036.50,7036.50,677,7038.075,310,7023.50,7024.75,False
2018-06-01 16:06:30,7036.25,7036.75,7036.00,7036.00,544,7036.250,233,7020.75,7024.75,False
2018-06-01 16:07:00,7036.00,7036.50,7032.25,7034.00,722,7034.250,373,7020.50,7024.75,False
2018-06-01 16:07:30,7034.00,7035.00,7033.25,7034.00,351,7034.125,190,7019.00,7024.75,False
2018-06-01 16:08:00,7034.00,7034.50,7033.25,7033.50,323,7033.825,171,7018.50,7024.75,False
2018-06-01 16:08:30,7033.50,7035.00,7033.25,7033.50,489,7034.175,208,7019.00,7024.75,False
2018-06-01 16:09:00,7033.50,7038.00,7032.25,7036.75,1830,7035.350,727,7022.00,7024.75,False
2018-06-01 16:09:30,7037.00,7037.25,7032.50,7033.00,534,7034.425,317,7021.25,7024.75,False
2018-06-01 16:10:00,7033.25,7037.75,7033.00,7035.25,1305,7035.850,540,7021.75,7024.75,False
2018-06-01 16:10:30,7035.25,7036.00,7033.50,7036.00,277,7034.975,163,7020.00,7024.75,False
2018-06-01 16:11:00,7036.00,7037.75,7035.50,7036.25,342,7036.550,150,7021.75,7024.75,False
2018-06-01 16:11:30,7036.75,7037.00,7034.00,7036.75,346,7035.225,189,7021.00,7024.75,False
2018-06-01 16:12:00,7036.75,7039.00,7036.50,7037.50,381,7037.925,217,7023.00,7024.75,False
2018-06-01 16:12:30,7037.75,7039.00,7036.00,7037.50,322,7037.750,175,7023.00,7024.75,False
2018-06-01 16:13:00,7037.00,7038.25,7036.25,7036.50,235,7037.225,121,7022.25,7024.75,False
2018-06-01 16:13:30,7036.75,7038.00,7035.50,7037.00,381,7036.850,183,7022.00,7024.75,False
2018-06-01 16:14:00,7037.25,7038.00,7036.00,7036.75,198,7036.950,114,7022.00,7024.75,False
2018-06-01 16:14:30,7037.00,7037.25,7033.75,7034.00,387,7035.600,168,7021.25,7024.75,False
2018-06-01 16:15:00,7034.50,7035.75,7029.25,7030.25,1143,7031.975,544,7019.75,7024.75,False
2018-06-01 16:15:30,7030.00,7030.75,7025.25,7026.50,1145,7028.175,550,7014.75,7024.75,False
2018-06-01 16:16:00,7026.25,7027.75,7024.50,7024.75,1004,7025.725,569,7011.75,7024.75,True
2018-06-01 16:16:30,7024.75,7025.25,7020.25,7021.25,1422,7022.350,667,7009.25,7024.75,True
2018-06-01 16:17:00,7021.50,7024.50,7020.75,7024.00,812,7022.625,444,7008.50,7024.75,True