In [1]:
import pandas as pd

In [14]:
df1 = pd.read_pickle('test_df_2020-06-21 16:16:10.050700.pickle')
df2 = pd.read_pickle('test_df_2020-06-21 16:16:21.704956.pickle')

In [15]:
df1

,backfill,open,high,low,close,price,volume,ema_fast,ema_slow,atr,signal,filter,filtered_signal
date,,,,,,,,,,,,,
2018-05-22 09:11:00,True,6914.00,6921.50,6908.75,6917.75,6917.75,10021,NaN,NaN,12.750000,0.0,NaN,0.0
2018-05-22 12:48:00,True,6917.50,6944.25,6915.25,6937.75,6937.75,10001,NaN,NaN,20.920139,0.0,NaN,0.0
2018-05-22 15:00:00,True,6938.00,6947.50,6935.00,6936.00,6936.00,10047,NaN,NaN,18.082183,0.0,NaN,0.0
2018-05-22 15:34:00,True,6936.00,6948.75,6935.25,6945.75,6945.75,10089,6938.126923,NaN,16.917474,0.0,NaN,0.0
2018-05-22 15:40:00,True,6945.75,6954.75,6942.75,6947.50,6947.50,11198,6941.725118,NaN,15.912003,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-01 10:13:00,False,6989.75,7007.75,6985.75,6995.50,6995.50,10009,6986.747783,6967.871488,16.010251,0.0,1.0,0.0
2018-06-01 13:44:00,False,6995.00,7008.00,6994.00,7006.50,7006.50,10049,6993.331855,6968.521490,15.986419,0.0,1.0,0.0
2018-06-01 14:42:00,False,7006.75,7010.00,6993.00,6996.25,6996.25,10038,6994.304570,6968.987938,15.998426,0.0,1.0,0.0
2018-06-01 15:29:00,False,6996.50,7017.00,6996.25,7010.00,7010.00,10240,6999.536380,6969.677640,16.054667,0.0,1.0,0.0
2018-06-01 15:35:00,False,7010.25,7033.25,7009.25,7031.25,7031.25,14995,7010.107587,6970.712807,16.148637,1.0,1.0,1.0

In [16]:
df2

,backfill,open,high,low,close,price,volume,ema_fast,ema_slow,atr,signal,filter,filtered_signal
date,,,,,,,,,,,,,
2018-05-21 03:16:00,True,6919.00,6947.75,6919.00,6932.00,6932.00,10016,NaN,NaN,28.750000,0.0,NaN,0.0
2018-05-21 09:20:00,True,6932.25,6933.75,6898.75,6905.25,6905.25,10024,NaN,NaN,31.892361,0.0,NaN,0.0
2018-05-21 13:26:00,True,6905.50,6928.00,6903.50,6920.25,6920.25,10029,NaN,NaN,29.400811,0.0,NaN,0.0
2018-05-21 15:30:00,True,6920.75,6932.50,6915.00,6932.50,6932.50,12305,6924.015385,NaN,26.375839,0.0,NaN,0.0
2018-05-21 15:35:00,True,6932.50,6948.75,6930.75,6946.50,6946.50,10508,6932.646919,NaN,24.663240,0.0,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-01 10:13:00,False,6989.75,7007.75,6985.75,6995.50,6995.50,10009,6986.747783,6967.528321,16.006864,0.0,1.0,0.0
2018-06-01 13:44:00,False,6995.00,7008.00,6994.00,7006.50,7006.50,10049,6993.331855,6968.179716,15.983527,0.0,1.0,0.0
2018-06-01 14:42:00,False,7006.75,7010.00,6993.00,6996.25,6996.25,10038,6994.304570,6968.648812,15.995340,0.0,1.0,0.0
2018-06-01 15:29:00,False,6996.50,7017.00,6996.25,7010.00,7010.00,10240,6999.536380,6969.339726,16.050567,0.0,1.0,0.0
2018-06-01 15:35:00,False,7010.25,7033.25,7009.25,7031.25,7031.25,14995,7010.107587,6970.373964,16.142849,1.0,1.0,1.0